<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Gestionnaire de Tâches</title>
</head>

<body>

    <header>
        <!-- top navbar -->
        <nav class="light-blue darken-1">
            <div class="nav-wrapper">
            <a href="{{ url_for('home') }}" class="brand-logo">Gestionnaire de Tâches</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Page initiale</a></li>
                <li><a href="{{ url_for('add_task') }}">Nouvelle Tâche</a></li>
                <li><a href="{{ url_for('categories') }}">Catégories</a></li>
                <li><a href="{{ url_for('login') }}">Se connecter</a></li> <!-- Lien pour la page de connexion -->
            </ul>
            </div>
        </nav>

        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Page initiale</a></li>
            <li><a href="{{ url_for('add_task') }}">Nouvelle Tâche</a></li>
            <li><a href="{{ url_for('categories') }}">Catégories</a></li>
            <li><a href="{{ url_for('login') }}">Se connecter</a></li> <!-- Lien mobile pour la connexion -->
        </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer blue darken-3">
        <div class="footer-copyright">
            <div class="container">
                À des fins éducatives uniquement
                <a class="white-text right" href="https://arcadejk.github.io/form-french-leads/blog.html" target="_blank">&copy; Apprendre le français avec Arcade </a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
